<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
      <ul class="nav navbar-nav navbar-left navbar-copy">
        <li><p>&copy 2020 CELab. Página basada en el sitio de github de <a href="https://github.com/mpa139/allanlab">The Allan Lab</a>; más información en acerca de.</p></li>
      </ul>

			<ul class="nav navbar-nav navbar-right navbar-custom">
<!--				<li><a class="down" href="https://psych.ucsf.edu/">Department of Psychiatry</a></li> -->
				<li><a href="http://www.uaslp.mx/">UASLP</a></li>
        <li><a href="http://www.ingenieria.uaslp.mx/ciep/Paginas/POSGRADO%20EN%20INGENIERIA%20ELECTRICA/Posgrado-en-Ingenieria-Electrica.aspx">CIEP-FI</a></li>
        <li><a href="http://www.iico.uaslp.mx/">IICO</a></li>
				<li><a href="{{ site.url }}{{ site.baseurl }}/acerca-de">Acerca de</a></li>
<!--				<li><a href="{{ site.url }}{{ site.baseurl }}/recruitment">Reclutamiento</a></li> -->
			</ul>


	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
